
*{box-sizing:border-box}


html,body{
    margin:0;
    padding:0;
    font:16px/1.6 sans-serif;
    justify-content: center;
}

ul li{
    list-style-type: square;
    padding: 7px;
}
ul li::marker {
    color: rgb(183, 4, 4);
    font-size: 10px;
}
ul li::before{
    font-size: 5px;
}
a{
    color:rgb(183, 4, 4);
    text-decoration:none;
    font-weight: bold;   
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;

}
.rodape{
    font-size: small;
}
.imagem{
    color: rgb(84, 84, 84);
}
img{
    border-radius: 5px;
}

.date {
    font-size: small;
    color: rgb(84, 84, 84);
}
h2.section{
    font-size:clamp(22px,3.2vw,30px);
    margin:26px 0 12px;
    line-height:1.25;
}