*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 5px solid yellow;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: ;
}
.item{
    text-align: center;
}
.item1{
    background-color: red;
}
.item2{
    background-color: blue;
}
.item3{
    background-color: green;
}