* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}
header {
    background-color: #1D1E20;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 25 px;
    display: inline-flex;
    gap: 25px;

}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;  
}


a:hover {
    background-color: white;
    color: #1a1a1a;
    text-decoration: none;
    transform: scale(1.2);
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

/* COLUNA DA ESQUERDA (IMAGEM GRANDE) */
.col-esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 300px;
}

/* COLUNA DA DIREITA (DUAS IMAGENS MENORES) */
.col-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    min-width: 300px;
}

.card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.card .texto {
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 15px;
}

/* TAMANHOS DAS IMAGENS */
.card-grande {
    width: 450px;
    height: 400px;
}

.card-pequeno {
    width: 450px;
    height: 190px;
}

/* RESPONSIVIDADE */
@media (max-width: 980px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .col-direita {
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .card-grande,
    .card-pequeno {
        width: 95%;
        height: auto;
    }
}