*{
    box-sizing: border-box;
}

.container{
    display: flex;

}

.vermelho_esquerda, .vermelho_direita {
    background-color: red;
    height: 100vh;
    width: 25%;

}
.meio{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    height:850px;


}