body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #1D1E20;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

header h1 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
}

.botao :hover {
    background-color: white;
    text-decoration: none;
    transform: scale(1.2);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    color: #1a1a1a;
}


main {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-content: center;
    min-height: 100vh;  
}

.produto {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 320px;
}


.produto img {
    height: 180px;
    width: 320px;

}

.produto p {
    margin-top: 10px;
    font-weight: bold;
}

