* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

header {
    background-color: #0000FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid red; */
}

.video {
    margin-left: 9%;
    flex: 3;
    
}

.box-video {
    background-color: #c4c4c4;
    width: 685px;
    height: 324px;
    /* border: 2px solid red; */
}

.video p {
    margin-top: 10px;
    color: #333;
    /* border: 2px solid red; */
}

.recomendados {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5%;
  
    /* border: 2px solid red; */
}

.recomendado .box {
    background-color: #c4c4c4;
    width: 215px;
    height: 142px;
    /* border: 2px solid red; */
}

.recomendado p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    /* border: 2px solid red; */
}

.botao :hover {
    text-decoration: none;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.logo:hover{
    text-decoration: none;
    transform: scale(1.2);
    transition: transform 0.3s ease;

}
